.AnalyticsEventsList {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 5px;
    padding: 5px;
    overflow: auto;
    color: #74480e;
    background-color: #74480e;

}