html {
  height: 100%;
  body {
    position: relative;
    min-width: 1280px;
    width: 100%;
    min-height: 768px;
    height: inherit;
    margin: 0 auto;
    font-family: "Tahoma", "Arial", sans-serif;
    // box-sizing: border-box;
    background-color: var(--base);
    color: var(--accent);

    #root {
      width: inherit;
      height: inherit;
    }
  }
}
