:root {
  /* COLORS */
  --base: #c2c5c8;
  --accent: #12174e;
  --info: #4082ed;
  --success: #48b056;
  --warning: #ff9a1f;
  --error: #f54638;
  --system: #bcb9b9;
  --attention: #ffca7f;

  --tx-warning: #8a6d3b;
  --tx-success: #3c763d;

  /* MEASURE */
  --gap: 10px;
  --gap-s: calc(var(--gap) / 1.6);
  --gap-xs: calc(var(--gap) / 2);
  --gap-l: calc(var(--gap) * 1.6);
}
